<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Team Hack</title>
        <script>
            const ROOM_ID = "<%= roomId %>"
        </script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
<!--         <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> -->
        <script defer src="js/client.js"></script>
        <link rel="stylesheet" href="css/chat.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <div id="video-grid"></div>
        <div class="container"></div>
        <div class="send">
          <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" />
            <button class="btn" type="submit">Send</button>
          </form>
        </div>
        <style>
            #video-grid{
                display: grid;
                grid-template-columns: repeat(auto-fill, 300px);
                grid-auto-rows: 300px;
            }
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .container {
              background-color: rgb(49, 77, 114);
              border-radius: 00px;
              height: 300px;
              width: 400px;
              margin: 0px;
              overflow-y: auto;
              float: right;
            }
            .message {
              padding: 2px;
              font-size: 18px;
              background-color: rgb(255, 255, 255);
              margin: 8px;
              border-radius: 5px;
            }
            .left {
              float: left;
              clear: both;
            }
            .right {
              clear: both;
              float: right;
            }
            #send-container {
              float: right;
            }
            #messageInp {
              margin-top: 300px;
              margin-right: -434px;
              width: 350px;
              height: 30px;
              font-size: 20px;
              border: 2px solid rgb(70, 70, 136);
            }
            .btn {
              border: none;
              color: white;
              padding: 10px 12px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              /* margin: 4px 2px; */
              cursor: pointer;
              background-color: black;
              /* border-radius: 15px; */
            }
        </style>
    </body>
</html>